[build]
  command = "cd shared && npm install && npm run build && cd ../client && npm install && npm run build"
  publish = "client/dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"

